<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
Welcome<br/><input id="text" type="text" />
<button onclick="sendToTopic()">发送广播消息</button>
<button onclick="sendToUser()">发送单播消息</button>
<button onclick="subscribe2()">订阅消息/topic/sendTest</button>
<button onclick="subscribe1()">订阅消息/topic/subscribeTest</button>
<hr/>
<button onclick="closeWebSocket()">关闭WebSocket连接</button>
<hr/>
<div id="message"></div>
</body>

<script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript">
    // 建立连接对象（还未发起连接）
    var socket = new SockJS("/sockjsServer");

    // 获取 STOMP 子协议的客户端对象
    var stompClient = Stomp.over(socket);

    // 向服务器发起websocket连接并发送CONNECT帧
    stompClient.connect(
        {},
        function connectCallback(frame) {
            // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
            setMessageInnerHTML("连接成功");
            //订阅一个通道用来接收广播消息
            stompClient.subscribe('/topic/subscribeTest', function (response) {
                var returnData = JSON.parse(response.body);
                console.log("接收到广播服务的消息=》", returnData);
                setMessageInnerHTML( returnData.content.msg+"--"+returnData.content.sendTime);
            });
            //订阅一个通道用来接收单播消息
            stompClient.subscribe('/user/queue/user/a1', function (response) {
                var returnData = JSON.parse(response.body);
                console.log("接收到单播服务的消息=》", returnData);
                setMessageInnerHTML( returnData.content);
            });
        },
        function errorCallBack(error) {
            // 连接失败时（服务器响应 ERROR 帧）的回调方法
            setMessageInnerHTML("连接失败");
        }
    );

    //发送消息
    function sendToTopic() {
        var message = document.getElementById('text').value;
        var messageJson = JSON.stringify({ "name": message });
        stompClient.send("/app/sendTest", {}, messageJson);
    }

    function sendToUser() {
        //var message = document.getElementById('text').value;
        var messageJson = JSON.stringify({ "userId": "a1" });
        stompClient.send("/app/sendToUser", {}, messageJson);
    }

    //订阅消息
    function subscribe1() {
        stompClient.subscribe('/topic/subscribeTest', function (response) {
            setMessageInnerHTML("已成功订阅/topic/subscribeTest");
            var returnData = JSON.parse(response.body);
            setMessageInnerHTML("/topic/subscribeTest 你接收到的消息为:" + returnData.name);
        });
    }

    //订阅消息
    function subscribe2() {
        stompClient.subscribe('/topic/sendTest', function (response) {
            setMessageInnerHTML("已成功订阅/topic/sendTest");
            var returnData = JSON.parse(response.body);
            setMessageInnerHTML("/topic/sendTest 你接收到的消息为:" + returnData.name);
        });
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    function closeWebSocket(){
        stompClient.disconnect(function () {
            alert("See you next time!");
        })
    }

</script>
</html>